:root
{
	--gray: #383435;
	--green: #3CCF4E;
	--white: #FFF;
	--darkergreen: #146356;
	--black: #585858;
	--lightgreen: #69b370;
	--bifaC: #167330;
	--superlightGreen: #a1ffa2;
	--mbigheader: 12vw;
	--msmallbigheader: 10vw;
	--mheader: 6vw;
	--mdescriptionbig: 4.5vw;
	--mdescription: 3vw;
	--msmallbig: 2vw;
	--msmall: 1.5vw;
}
*
{
	padding: 0;
	box-sizing: border-box;
	margin: 0;
	font-family: Roboto;
	user-select: none;
}

.hidden
{
	opacity: 0;
	user-select: none;
	filter: blur(5px);
	transform: translateX(-100%);
	transition: all 1.5s;

}

.show
{
	opacity: 1;
	user-select: auto;
	filter: blur(0);
	transform: translateX(0);
}

.staff-photo-div:nth-child(1)
{
	transition-delay: 0.1s;
}
.staff-photo-div:nth-child(2)
{
	transition-delay: 0.2s;
}
.staff-photo-div:nth-child(3)
{
	transition-delay: 0.3s;
}

@media(prefers-reduced-motion)
{
	.hidden
	{
		transition: all 0s;
	}
}

html
{
	scroll-behavior: smooth;
}
body
{
	background-color: var(--gray);
}
.green-text
{
	color: var(--superlightGreen);
}
.top-bar
{
	width: 100%;
	height: 100px;
	display: flex;
	justify-content: center;
	align-content: center;
	background-color: var(--gray);
	border-style: none;
	box-shadow: 0 2px 10px 0px rgba(0, 0, 0, .2);

}
.settings-button
{
	cursor: pointer;
	position: absolute;
	left: 0;
	right: 1845px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	border-style: none;
	color: var(--white);
	font-size: 25px;
	background-color: var(--gray);
	border-radius: 150%;
	padding: 10px;
	transition: all 0.1s;
}
.settings-button:active
{
	opacity: 0.8;
}
.page-header-div
{
	margin-top: 50px;
	display: flex;
	align-content: center;
	justify-content: center;
}
.divers-logo
{
	width: 300px;
}
.about-divers-front
{
	margin-top: 50px;
	display: flex;
	align-content: center;
	justify-content: center;
	width: 100%;
	height: 1000px;
}
.divers-front-photo
{
	object-fit: cover;
}
.divers-header-div
{
	margin-top: 10vw;
	display: flex;
	align-content: center;
	justify-content: center;
}
.divers-header
{
	font-size: var(--mheader);
	font-weight: 700;
	color: var(--white);
}
.divers-description-div
{
	margin-top: 50px;
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
}
.divers-description
{
	font-size: var(--mtext);
	font-weight: 500;
	color: var(--white);
	text-align: center;
	margin-left: 10%;
	margin-right: 10%;
}
.divers-orar-div
{
	margin-top: 50px;
	margin-bottom: 150px;
	display: flex;
	flex-direction: column;
	align-content: center;
	text-align: center;
	justify-content: center;
}
.orar-text
{
	font-size: var(--mtext);
	font-weight: 500;
	color: var(--white);
	text-align: center;
	margin-left: 10%;
	margin-right: 10%;
}

.green-c
{
	color: var(--bifaC);
	font-weight: 700;
}
.staff
{
	display: flex;
	flex-direction: column;
	gap: 15px;
}
.staff-header
{
	display: flex;
	align-content: center;
	justify-content: center;
	margin-top: 10vw;
	font-size: 6vw;
	font-weight: 700;
	color: var(--white);
}
.staff-name
{
	display: flex;
	align-content: center;
	font-size: var(--mheader);
	justify-content: center;
	color: var(--white);
	font-weight: 700;
}
.staff-photos
{
	margin-top: 5vw;
	display: flex;
	align-content: center;
	justify-content: center;
	gap: 150px;

}
.staff-photo-div
{
	display: flex;
	align-content: center;
	justify-content: center;
	cursor: pointer;
	border-radius: 200%;
}
.staff-photo
{
	width: 450px;
	height: 450px;
	object-fit: cover;
	border-style: solid;
	border-color: var(--white);
	border-width: 7px;
	border-radius: 200%;
}

.owner-photo-div
{
	margin-top: 50px;
	display: flex;
	flex-direction: column;
}
.owner-photo-2div
{
	display: flex;
	align-content: center;
	justify-content: center;
	width: 100%;
}
.owner-photo
{
	width: 70vw;
	height: 70vw;
	object-fit: cover;
	border-style: solid;
	border-color: var(--white);
	border-width: 10px;
	border-radius: 200%;
}
.harta-div
{
	display: flex;
	margin-top: 10vw;
	justify-content: center;
	align-content: center;
}
.harta
{
	width: 100%;
	height: 50vh;
}
#additional-info
{
	margin-top: 10vw;
}

@media(min-width: 100px)
{
	.staff-photos
	{
		flex-direction: column;
		gap: 35px;
	}
	.staff-photo
	{
		width: 45vw;
		height: 45vw;
		border-width: 2px;
	}
	.owner-photo
	{
		border-width: 5px;
	}
	.divers-header
	{
		font-size: var(--msmallbigheader);
	}
	.staff-header
	{
		font-size: var(--msmallbigheader);
	}
	.divers-description
	{
		font-size: var(--mdescriptionbig);
	}
	.orar-text
	{
		font-size: var(--mdescriptionbig);
	}
	.staff
	{
		gap: 2vw;
	}
	.owner-photo-div
	{
		gap: 5vw;
	}
	#owner-name
	{
		font-size: var(--msmallbigheader);
	}
}

@media(min-width: 750px)
{
	.owner-photo
	{
		width: 65vw;
		height: 65vw;
		
	}
	.staff-photos
	{
		flex-direction: row;	
	}
	.staff-photo
	{
		width: 25vw;
		height: 25vw;
	}
	.staff-name
	{
		font-size: var(--mdescription);
	}
	#owner-name
	{
		font-size: var(--mheader);
	}
}

@media(min-width: 950px)
{
	.owner-photo
	{
		border-width: 10px;
	}
	.staff-photos
	{
		gap: 40px;
	}
	.divers-header
	{
		font-size: var(--mheader);
	}
	.staff-header
	{
		font-size: var(--mheader);
	}
	.staff-header
	{
		font-size: var(--mheader);
	}
	.divers-description
	{
		font-size: var(--mdescription);
	}
	.orar-text
	{
		font-size: var(--mdescription);
	}
}


@media(min-width: 1350px)
{
	.staff-photos
	{
		gap: 50px;
	}
	.owner-photo
	{
		width: 850px;
		height: 850px;
		border-width: 10px;
	}
	.staff-photo
	{
		width: 335px;
		height: 335px;
	}
}



@media(min-width: 1700px)
{
	.staff-photos
	{
		gap: 150px;
	}
	.staff-photo
	{
		width: 450px;
		height: 450px;
		border-width: 7px;
	}
}