@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

:root{

	--backgound:#383435;
}

*{
	font-family: Roboto;
	user-select: none;
}

body{
	margin: 0px;
	padding: 0px;
}

header .banner{

	width:100%;
	height:120px;
	background-color: #191516;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

header .info{

	//background-image: url("DiversBackgroundNegru.png");
	background-color: #014d05;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	height: 120px;
	width:100%;
	position: relative;
}

header .info h1{
	position: absolute;
	top:20px;
	margin-top: 0px;
	font-size: 60px;
	color: white;
	margin-left:30px;
}

header .banner .divers{

	display: inline-block;
}

main .news{
	margin-top:70px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

main .news .new{

	width:750px;
	height:280px;
	background-color:white;
	margin:20px;
	position:relative;
	border-radius: 10px;
	margin-bottom: 40px;
	box-shadow: 2px 2px 5px;

}


main .news .new .photo img{
	border-radius: 5px;
	height: 200px;
}

main .news .new .photo{

	display: inline-block;
	position: absolute;
	left:10px;
	top:40px;
}

main .news .new .description{
	position: absolute;
	display: inline-block;
	top:20px;
	left:230px;
	width:500px;
	font-size:30px;
}

@media all and (max-width: 800px)
{
	main .news .new{

	width:550px;
	height:200px;
}

main .news .new .description{

	width:400px;
	font-size:20px;
	font-weight: 500;
	top:20px;
	left:145px;

}

main .news .new .photo img{
	height:120px;

}
main .news .new .photo{
	top:40px;
}

}

@media all and (max-width: 612px){


	main .news .new{
		width:90vw;
		height: 150px;
	}

	main .news .new .photo img{
	height:21vw;

	}

	main .news .new .photo{
		top:20px;
	}

	main .news .new .description{
		left:25vw;
		font-size: 17px;
		width:60vw;
		top:10px;
	}
	header .info h1{
		font-size:40px;
	}
}


@media all and (max-width: 450px){


	main .news .new{
		width:90vw;
		height: 15vh;
	}

	main .news .new .photo img{
	height:20vw;

	}

	main .news .new .photo{
		top:2vh;
	}

	main .news .new .description{
		left:25vw;
		font-size: 14px;
		font-weight: 600;
		width:60vw;
		top:1.1vh;
	}

	header .banner .divers{
		height:15vw;
	}

	header .banner .divers img{
		height:25vw;
	}

	header .info h1{
		font-size:30px;
	}
}

@media all and (max-width: 300px){

	main .news .new .description{
		left:25vw;
		font-size: 10px;
		font-weight: 600;
		width:55vw;
		top:1.5vh;
	}
}

.copyright{

	font-weight: 700;
	font-size: 14px;
	text-align: center;
	letter-spacing: 2px;
}
